@page "{PPSNumber}"
@model EntAppSecond.Pages.Students.ConfirmEnrolmentModel
@{
    ViewData["Title"] = "ConfirmEnrolment";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListStudents</title>
</head>
<body>


    <table class="table">
        <thead>
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>PPSNumber</th>

            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>@Model.Student.ChildFirstNAme</td>
                    <td>@Model.Student.ChildSurname</td>
                    <td>@Model.Student.PPSNumber</td>

                </tr>

        </tbody>
    </table>

</body>
</html>

