@page
@model EntAppSecond.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Application form";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

</head>
<body>

    <form method="post">

        <fieldset>

            <label class="form-group" asp-for=Student.ChildFirstNAme></label>
            <input class="form-group" asp-for=Student.ChildFirstNAme />
            <br />
            <br />
            @*<label asp-for=Student.ChildSurname></label>
            <input asp-for=Student.ChildSurname />
            <br />
            <br />
            <label asp-for=Student.PPSNumber></label>
            <input asp-for=Student.PPSNumber />
            <br />
            <br />
            <input type="radio" name="gender" value="male" checked asp-for="Student.Gender"> Male<br>
            <input type="radio" name="gender" value="female" asp-for="Student.Gender"> Female<br>
            <br />
            <br />
        </fieldset>






        <label asp-for=Student.FirstName></label>
        <input asp-for=Student.FirstName />
        <br />
        <br />
        <label asp-for=Student.SecondName></label>
        <input asp-for=Student.SecondName />
        <br />
        <br />

        <div asp-validation-summary="All"></div>
        <span asp-validation-for="Student.Guardian"></span>
        <select asp-items="Html.GetEnumSelectList<CreateModel.Relationship>()">
            <option value="value">text</option>
        </select>
        <br />
        <br />

        <textarea asp-for="Student.Address" rows="10" cols="30"></textarea>
        <br>
        <br />


        <label asp-for=Student.PhoneMobile></label>
        <input asp-for=Student.PhoneMobile />
        <br />
        <br />
        <label asp-for=Student.PhoneSecond></label>
        <input asp-for=Student.PhoneSecond />
        <br />
        <br />
        <label asp-for=Student.PhoneThird></label>
        <input asp-for=Student.PhoneThird />
        <br />
        <br />
        <label asp-for=Student.FirstEmailAddress></label>
        <input asp-for=Student.FirstEmailAddress />
        <br />
        <br />
        <label asp-for=Student.SecondEmailAddress></label>
        <input asp-for=Student.SecondEmailAddress />
        <br />
        <br />
        <label asp-for=Student.FirstEmailAddress></label>
        <input asp-for=Student.FirstEmailAddress />
        <br />
        <br />
        <label asp-for=Student.FirstEmailAddress></label>
        <input asp-for=Student.FirstEmailAddress />
        <br />
        <br />*@

            <input type="radio" id="fulltime" value="1" asp-for="Student.HoursRequested" checked onclick="Calculate()"> Fulltime<br>
            <input type="radio" id="partime" value="0" asp-for="Student.HoursRequested" onclick="Calculate()"> Partime<br>
            <br />
            <br />


            <select id="SelectedDays" name="Days" size="5" multiple onchange="Calculate()">
                @{
                    foreach (var day in Enum.GetNames(typeof(CreateModel.SelectedDays)))
                    {
                        <option value="value">@day.ToString()</option>
                    }
                }
            </select>

            <input type="hidden" asp-for=Student.DaysRequested id="days" />

            <p>test</p>


            @*<label asp-for=Student.StartDate></label>
        <input asp-for=Student.StartDate />
        <br />
        <br />*@

            <br />
            <br />
            <button type="submit">Submit Application</button>

            <p id="output">
            </p>
            <p id="output2">
            </p>
            <p id="output3">
            </p>

            <script>

                function Calculate() {

                    var noOfDays = 0;
                    var total = 0;
                    var primes = [3, 5, 7, 9, 11];
                    var days = 1;


                    for (var i = 0; i < document.getElementById("SelectedDays").options.length; i++) {
                        if (document.getElementById("SelectedDays").options[i].selected) {
                            noOfDays++;
                            days = days * primes[i];
                        }
                        document.getElementById("output").innerHTML = noOfDays.toString();
                        document.getElementById("output3").innerHTML = days.toString();
                        document.getElementById("days").value = days;
                    }

                    if (document.getElementById("fulltime").checked) {
                        total = noOfDays * 35;
                    } else {
                        total = noOfDays * 20;
                    }

                    if (noOfDays > 3) {
                        total = total * 0.9;
                    } 

                    document.getElementById("output2").innerHTML = total.toString();

                }


            </script>



</form>



</body>
</html>
