@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to the Creche Homepage</h2>
<br />
<br />
<br />
<a id="start" href="/Students/create" >Click here to Enrol in the Creche</a>
<br />
<br />


